.footer {
  max-width: 738px;
  margin: 0 auto;
  z-index: 13;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: none;
}

.footer__nav {
  display: flex;
  align-items: center;
  background: #fafafa;
  justify-content: space-around;
  padding: 8px;
  border-top: 1px solid #cecece;
}

.footer__nav__icon svg {
  width: 32px;
  cursor: pointer;
}

.footer__nav__icon.upload svg > path {
  fill: white;
}

.footer__nav__icon.upload svg {
  background: #141414;
  border-radius: 50%;
}

.footer__nav__icon.profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}

@media all and (max-width: 600px) {
  .footer {
    display: block;
  }
}
