* {
  margin: 0;
  padding: 0;
}

.post {
  position: sticky;

  width: 100%;
  max-width: 500px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  margin: 0 auto 40px;

  border: 1px solid lightgrey;
}

.post__header {
  background: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 15px;

  align-items: center;
  border-bottom: 1px solid light-grey;
}

.post .header__avatar {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  background: #a4a4a4;
  color: #fafafa;
}

.post .header__name {
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 0.45px;
  font-size: 1.25em;
}

.header__userInfo {
  display: flex;
  align-items: center;
}

.header__adminButtons {
  display: flex;
  align-items: center;
}

.admin--div {
  font-family: helvetica;
}

.admin--div .button {
  background: #757575bf;
  padding: 6px 10px;
  margin-right: 20px;
  border-radius: 4px;
  color: #fafafa;
  letter-spacing: 0.45px;
  cursor: pointer;
}

.admin--div .button.edit {
  background: #405de6;
}

.admin--div .button.delete {
  background: #e1306c;
}

.admin--div .fa.fa-trash,
.fa.fa-edit {
  margin-left: 5px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid light-grey;
  border-bottom: 1px solid light-grey;
}

.post_caption {
  padding: 12px 10px 10px;
}

.post_caption h3 {
  font-weight: 300;
  font-size: 0.975em;
}
