a {
  text-decoration: none;
  color: unset;
}

.SignedInHomepage.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.SignedInHomepage__posts {
  margin-top: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fafafa;
}

.createPost--wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 100px auto 25px;
  background: #eaeaea;
  padding: 5px;
  color: #313131;
  cursor: pointer;
}

.SignedInHomepage .createPost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  pointer-events: none;
  background: #fafafa;
  padding: 8px 10px;
}

.SignedInHomepage .createPost .fa.fa-edit {
  padding-top: 4px;
  padding-right: 12px;
  padding-left: 8px;
  font-size: 1.2em;
  pointer-events: none;
}

.SignedInHomepage .createPost span {
  font-weight: 500;
  pointer-events: none;
  color: #757575;
  letter-spacing: 0.3px;
  font-size: 1.175em;
}

.SignedInHomepage .SignedInHomepage__header {
  width: auto;
}

.no-follow {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 100;
  font-family: helvetica;
  padding: 20px 0px;
}

.no-follow p {
  font-size: 1.45rem;
  font-weight: 100;
  color: #656565;
}

.no-follow h3 {
  margin-top: 10px;
  font-weight: 400;
  color: #757575;
}

/*Feed footer css*/
* {
  margin: 0;
  padding: 0;
}

.feed__footer {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  margin-top: 60px;
  margin-bottom: 25px;
  padding: 40px 0px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer__checkmark {
  display: flex;
  flex-direction: row;
}

.line {
  background: #acacac;
  height: 1px;
  width: 180px;
  position: relative;
  top: 44px;
}

.line--left {
  margin-right: 10px;
}

.line--right {
  margin-left: 10px;
}

.checkmark svg {
  fill: #fafafa;
  border: 1px solid #757575;
  border-radius: 50%;
  background: #0095f6;
}

.footer__checkmark {
  margin-bottom: 40px;
}

.footer__content {
  text-align: center;
}

.footer__content h2 {
  font-size: calc(1.4775em + 0.25vw);
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 18px;
}

.footer__content h3 {
  font-weight: 400;
  letter-spacing: 0.24px;
  color: #757575;
}

.content__subheader .subheader__link {
  font-weight: 600;
  color: #0095f6;
  font-size: 1.1em;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .SignedInHomepage .SignedInHomepage__header {
    position: fixed;
    min-width: 95%;
  }

  .SignedInHomepage .ImageUpload {
    margin-top: 90px;
  }

  .SignedInHomepage .createPost span {
    font-weight: 700;
  }

  .SignedInHomepage .createPost {
    padding: 11px 10px;
  }

  .no-follow {
    padding: 20px;
  }

  .feed__footer {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
