.profile__header {
  width: 836px;
  background: #fff;
  margin: 80px auto 0px;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 16px;
  padding-bottom: 31px;
  border-bottom: 1px solid #cecece;
}

.profile__header .header__avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.header__details {
  margin-left: 75px;
}

.header__userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.header__userinfo h3 {
  font-weight: 100;
  font-size: calc(1.375em + 0.5vw);
  color: #363636;
}

.header__userinfo button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-left: 12px;
  padding-top: 0.3995vw;
}

.header__userinfo button svg {
  width: 23px;
}

.header__activity span {
  font-size: calc(0.875em + 0.5vw);
  margin-right: calc(16px + 1.5vw);
}

@media all and (max-width: 600px) {
  .profile__header {
    max-width: 836px;
    width: 100%;
  }

  .header__activity {
    display: none;
  }
  .profile__header .header__avatar {
    margin-left: 32px;
  }
  .profile__header .header__avatar img {
    width: 50px;
    height: 50px;
  }
  .header__details {
    margin-left: 53px;
  }

  .header__userinfo h3 {
    font-weight: 400;
  }

  .header__userinfo button svg {
    width: 29px;
    height: 29px;
    padding-top: 2px;
    padding-left: 4px;
  }
}
